@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    position: relative;
    width: 1280px;
    height: 1626px;
    background: #ffffff;

    
}


nav{
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}
img{
    position: absolute;
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
}
main{
    position: absolute;
    width: 1280px;
    height: 650px;
    left: calc(50% - 1280px/2);
    bottom: 108px;
}
h2{
    position: absolute;
    width: 774px;
    height: 29px;
    left: 253px;
    top: 48px;
    font-family: Montserrat ;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

footer{
    position: absolute;
    width: 1070px;
    height: 39px;
    right: 105px;
    bottom: 29px;
}
.background{
    position: absolute;
    width: 1280px;
    height: 650px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.0001);

}
.background-sfondo{
    position: absolute;
    width: 1280px;
    height: 1626px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 1626px/2);
    z-index: -1;
    background: rgba(0, 0, 0, 0.0001);
}
.btn{
    position: absolute;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #ff0000;
    border-radius: 4px;
}
.btn-action{
    position: absolute;
    width: 105px;
    height: 16px;
    left: 587px;
    top: 575px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    z-index: 1;
    color: #ffffff;
}

.nav-item{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #ff0000;
}
.home{
    text-decoration: none;
    position: absolute;
    width: 68px;
    height: 27px;
    left: 0px;
    top: -6px;
}
.photoapp{
    position: absolute;
    width: 131px;
    height: 27px;
    left: 140px;
    top: -6px;
}
.design{
    position: absolute;
    width: 87px;
    height: 27px;
    left: 343px;
    top: -6px;
}
.download{
    position: absolute;
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;
}

.paragraph{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.paragraph-top{
    position: absolute;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
}
.paragraph-bottom{
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;
}
.footer-links{
    position: absolute;
    visibility: hidden;
    width: 382px;
    height: 16px;
    left: 0.5px;
    top: -41px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #373737;

    
}
.footer-copy-rights{
    position: absolute;
    width: 462px;
    height: 39px;
    left: 608px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal ;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}